Grid_scale = 1.0 
Grid_perfil = 90.0 
XYZR_FileName = ZIKV_6CO8_aa_charge_vdw_fixed.xyzr
Build_epsilon_maps = false
Build_status_map = false
Save_Mesh_MSMS_Format = true
Compute_Vertex_Normals = true
Surface = ses  
Smooth_Mesh = true
Skin_Surface_Parameter = 0.45
Cavity_Detection_Filling = false
Conditional_Volume_Filling_Value = 0.0 
Keep_Water_Shaped_Cavities = false
Probe_Radius = 1.4 
Accurate_Triangulation = true
Triangulation = true
Check_duplicated_vertices = true
Save_Status_map = false
Save_PovRay = false
#Operative_Mode = pockets
#Pockets_And_Cavities = true
#SaveCavities = true
Max_Atoms_Multi_Grid = 10000
